*:focus{
  outline:none;
}

*{
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif KR', sans-serif;
}

body{
  height: 100vh;
  background-image: url("nightsky.jpg");
}

body > #emptysection{
  width: 100%;
  height: 5%;
}


#mainsection{
  height: 70%;
  display: flex;
}

#blanksection{
  height: 100%;
  width: 20%;
}

#centersection{
  height: 100%;
  width: 60%;
}

#bottomsection{
  height: 30%;
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
  color: inherit;
}

#info{
  position: absolute;
  font-size: 14px;
  z-index: 300;
  bottom: 0;
  right: 0;
  color: white;
  text-align:right;
}
